{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Bibliothèque - Introduction
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}

		<div class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3 investisseur">
                    <div class="d-flex align-items-center justify-content-between mb-3 p-3 bg-light rounded">
                        <div class="cnt-title d-flex align-items-center">
                            <span class="fi fi-{{ flag }}" style="font-size: 30px"></span>
                            <span class="mx-3">
                                {{ title }} - {{ ticker }}
                            </span>
                        </div>
                        <div class="cnt-section">
                            BULLE
                        </div>
					</div>
					<div class="card mb-3" style="border: none">
						<div class="row g-2">
							<div class="col-md-8">
								<div class="bg-blue p-2 text-center">
									<span class="p-0">
										GRAPHIQUE JOUR
									</span>
								</div>
								<a class="image-popup-no-margins" href="{{ asset(image_jour) }}">
									<img src="{{ asset(image_jour) }}" class="img-fluid rounded-start" alt="{{ title }}">
								</a>
							</div>
							<div class="col-md-4">
								<div class="bg-blue p-2 text-center">
									<span class="p-0">
										ANALYSE
									</span>
								</div>
								<div class="card-body">
									<p class="card-text">{{ description }}</p>
								</div>
							</div>
						</div>
					</div>

					<div class="card mb-3" style="border: none">
						<div class="row g-2">
							<div class="col-md-8">
								<div class="bg-green p-2 text-center">
									<span class="p-0">
										GRAPHIQUE SEMAINE
									</span>
								</div>
								<a class="image-popup-no-margins" href="{{ asset(image_semaine) }}">
									<img src="{{ asset(image_semaine) }}" class="img-fluid rounded-start" alt="{{ title }}">
								</a>
							</div>
							<div class="col-md-4">
								<div class="bg-green p-2 text-center">
									<span class="p-0">
										ANALYSE ET VALIDATION
									</span>
								</div>
								<div class="card-body">
									<p class="card-text">{{ description }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-bibliotheque-value.html.twig' with {'currentValue': currentValue}%}
				</div>	
			</div>
		</div>

{% endblock %}