{# filepath: templates/partials/header.html.twig #}
<div class="sticky-top">
    <div class="bg-zen-primary">
        <div class="blog-header-top px-4 custom-container">
            <header class="blog-header py-3 ">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-3 ps-0">
                        <a class="header-logo d-flex align-items-center navbar-brand" href="/">
                            <img src="{{ asset('images/logo/zenbourse-logo.svg') }}" alt="Logo" width="25" class="d-inline-block align-text-center">
                            <span class="text-uppercase ps-2 text-white">zenbourse 50</span>
                        </a>
                    </div>
                    <div class="col-4 pt-1">
                        <h5 class="fst-italic text-light text-nowrap" style="font-size: 25px">Les méthodes qui simplifient la vie</h5>
                    </div>

                    <div class="col-5 pe-0 d-flex align-items-center justify-content-end methode-section">
                        {# Préparation des variables Twig simplifier les conditions #}
                        {% set route = app.request.get('_route') %}
                        {% set isHome = route starts with 'app_home' or route starts with 'app_user' %}
                        {% set isInvestisseur = route starts with 'investisseur' %}
                        {% set isIntraday = route starts with 'intraday' %}

                        {# Affichage des boutons méthode selon la route et l'utilisateur #}
                        {% if isHome %}
                            {% if app.user %}
                                {% if app.user.isInvestisseur %}
                                    <a class="btn btn-sm btn-light border-0 btn-investisseur px-3 rounded-1 text-nowrap me-2" href="{{ path('investisseur_methode') }}">METHODE INVESTISSEUR</a>
                                {% endif %}
                                {% if app.user.isIntraday %}
                                    <a class="btn btn-sm btn-light border-0 btn-intraday px-3 rounded-1 text-nowrap" href="{{ path('intraday_methode') }}">METHODE INTRADAY</a>
                                {% endif %}
                            {% endif %}
                        {% endif %}
                        {% if isInvestisseur and app.user and app.user.isIntraday %}
                            <a class="btn btn-sm btn-light border-0 btn-intraday px-3 rounded-1 me-2" href="{{ path('intraday_methode') }}">METHODE INTRADAY</a>
                        {% endif %}
                        {% if isIntraday %}
                            <a class="btn btn-sm btn-light border-0 btn-investisseur px-3 rounded-1" href="{{ path('investisseur_methode') }}">METHODE INVESTISSEUR</a>
                        {% endif %}

                        {# Dropdown utilisateur #}
                        {% if app.user %}
                            <div class="dropdown">
                                <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="dropdownAccount" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Mon compte">
                                    <span>MON COMPTE</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                    <li>
                                        <a class="dropdown-item" href="{{ path('app_user_profile') }}">Voir mon profil</a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                                    </li>
                                </ul>
                            </div>
                        {% else %}
                            <a class="btn btn-sm text-uppercase border-2 btn-outline-light mx-2" href="{{ path('home_login') }}">MES METHODES</a>
                        {% endif %}

                        {# Dropdown langue #}
                        <div class="dropdown ms-2">
                            <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownLang" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Changer de langue">
                                <span class="fi fi-fr"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLang">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <span class="fi fi-fr"></span>
                                        Français (France)
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <span class="fi fi-gb"></span>
                                        English (UK)
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
    {# Menus contextuels #}
    {% if route matches '/^(home|app)/' %}
        {% include 'partials/menu_home.html.twig' %}
    {% endif %}
    {% if isInvestisseur %}
        {% include 'partials/menu_investisseur.html.twig' %}
    {% endif %}
    {% if isIntraday %}
        {% include 'partials/menu_intraday.html.twig' %}
    {% endif %}
</div>