<div class="zen-menu menu-investisseur">
    <nav class="navbar navbar-expand-lg text-uppercase main-nav main-nav-g p-0">
        <div class="container-fluid limited-width">
            <a class="navbar-text me-3 fw-bold" href="#">ZENBOURSE 50 -></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% set sorted_menu = get_menu('INVESTISSEUR')|sort((a, b) => a.menuorder <=> b.menuorder) %}
                    {% for item in sorted_menu %}
                        {% set parent_active = (app.request.attributes.get('_route') == item.route) %}
                        {% set child_active = false %}

                        {% if item.children|length > 0 %}
                            {% for child in item.children %}
                                {% if app.request.attributes.get('_route') == child.route or (app.request.attributes.get('_route') == 'investisseur_bibliotheque_bulles_type1' and item.label == 'Bibliothèque') %}
                                    {% set child_active = true %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {% set is_active = parent_active or child_active %}
                        <li class="nav-item">
                            <a class="p-3 nav-link {{ is_active ? 'active' : '' }}" href="{{ path(item.route) }}">
                                {{ item.label }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Sous-menu dans une nouvelle divv  -->
    <div class="sub-menu-container bg-light">
        <div class="sub">
            {% for item in get_menu('INVESTISSEUR') %}
                {% set parent_active = (app.request.attributes.get('_route') == item.route) %}
                {% set child_active = false %}

                {% if item.children|length > 0 %}
                    {% for child in item.children %}
                        {% if app.request.attributes.get('_route') == child.route or (app.request.attributes.get('_route') in ['investisseur_bibliotheque_bulles', 'investisseur_bibliotheque_bulles_type1'] and child.label == 'bulles type 1') %}
                            {% set child_active = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% set is_active = parent_active or child_active %}

                {% if is_active and item.children|length > 0 %}
                    <!-- Affiche uniquement le sous-menu correspondant lorsqu'il est actif -->
                    <nav class="navbar navbar-expand-lg text-uppercase p-0" style="font-weight: 400;">
                        <div class="container-fluid limited-width">
                            <span class="me-3 fw-bold">{{ item.label }} -></span>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav-{{ item.route }}" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav-{{ item.route }}">
                                <ul class="navbar-nav">
                                    {% set sorted_children = item.children|sort((a, b) => a.menuorder <=> b.menuorder) %}
                                    {% for child in sorted_children %}
                                        {% set child_is_active = app.request.attributes.get('_route') == child.route or (app.request.attributes.get('_route') == 'investisseur_bibliotheque_bulles_type1' and child.label == 'bulles type 1') %}
                                        <li class="nav-item">
                                            <a class="py-2 px-3 nav-link link-secondary {{ child_is_active ? 'active' : '' }}" href="{{ path(child.route) }}">
                                                {{ child.label }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </nav>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
