{% extends 'base.html.twig' %}

{% block title %}Zenbourse - Connexion{% endblock %}

{% block body %}
    {% include 'partials/header.html.twig' %}
    <div class="container m-auto mt-5 col-md-4 bg-light p-4">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h2 class="mb-3 font-weight-normal">Se connecter</h2>
            <label for="username" class="mb-2">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            <label for="password" class="mb-2 mt-4">Mot de passe</label>
            <div class="input-group">
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                <button class="zen-button btn btn-light bg-zen-primary border-0 text-light" type="button" id="togglePassword">
                    <i class="bi bi-eye"></i> 
                </button>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Remember me</label>
                </div>
            #}

            <button class="zen-button btn btn-light text-light my-3 w-100" type="submit">
                Se connecter
            </button>
        </form>
    </div>
    <script>
        document.getElementById('togglePassword').addEventListener('click', function (e) {
            const passwordInput = document.getElementById('password');
            const icon = this.querySelector('i');
            
            // Bascule entre "password" et "text"
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('bi-eye');
                icon.classList.add('bi-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('bi-eye-slash');
                icon.classList.add('bi-eye');
            }
        });
    </script>
{% endblock %}
