{% extends 'base.html.twig' %}

{% block title %}
	Zenbourse - Méthode Investisseur - Chandeliers Japonais
{% endblock %}

{% block body %}
	{% include 'partials/header.html.twig' %}
		<main class="custom-container">
			<div class="row g-5 mt-1">
				<div class="col-md-9 mt-3">
                    <h2>{{title}}</h2>
                <div class="container-fluid bg-light mb-4 p-3">
                    <p>{{ description | raw }}</p>   
				</div>
                <div class="row">
                    <div class="col-md-6 d-flex">
                        <div class="card p-4 d-flex flex-column justify-content-between border-0">
                            <h5>{{image_name_h}}</h5>
                            <a class="image-popup-no-margins" href="{{asset(image_h)}}">
                                <img src="{{asset(image_h)}}" class="img-fluid rounded mx-auto d-block" alt="La boîte de DARVAS">
                            </a>
                            <strong>Caractéristiques de la structure :</strong>
                            {{ content_h | raw }}
                            
                        </div>
                    </div>

                    <div class="col-md-6 d-flex">
                        <div class="card p-4 d-flex flex-column justify-content-between border-0">
                            <h5>{{image_name_b}}</h5>
                            <a class="image-popup-no-margins" href="{{ asset(image_b ) }}">
                                <img src="{{asset(image_b)}}" class="img-fluid rounded mx-auto d-block" alt="La boîte de DARVAS">
                            </a>
                            <strong>Caractéristiques de la structure :</strong>
                            {{ content_b | raw }}
                            
                        </div>
                    </div>
                </div>
				</div>
				<div class="col-md-3 mt-3">
					{% include 'investisseur/widgets/sidebar-methode-chandelier-japonais.html.twig' %}
				</div>
			</div>
		</main>
{% endblock %}