<div class="position-sticky" style="top: 12.5rem;">
	<div class="sidebar p-4 mb-3 bg-light rounded">
		<h4 class="fst-italic text-center">{{ valueTitle }}</h4>
			{% for key, data in bullesTypeData %}
				{% if currentValue is defined  %}
					{% set active = (key == currentValue) ? 'bg-green' : '' %}
					<div class="d-flex py-2 px-2 w-100 align-items-center {{ active }}">
						<div class="mr-2">
							<span class="fi fi-{{ data.flag }}" style="font-size: 30px"></span>
						</div>
						<div class="px-3">
							{% if app.request.get('_route') starts with 'investisseur_bibliotheque_bulles_type_1' %}
								<a href="{{ path('investisseur_bibliotheque_bulles_type_1_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if app.request.get('_route') starts with 'investisseur_bibliotheque_bulles_type_2' %}
								<a href="{{ path('investisseur_bibliotheque_bulles_type_2_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_ramasssage_1' %}
								<a href="{{ path('investisseur_bibliotheque_ramasssage_1_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_ramasssage_pic' %}
								<a href="{{ path('investisseur_bibliotheque_ramasssage_pic_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_pic_ramassage' %}
								<a href="{{ path('investisseur_bibliotheque_pic_ramassage_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_pics_volumes' %}
								<a href="{{ path('investisseur_bibliotheque_pics_volumes_values', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_volumes_faibles' %}
								<a href="{{ path('investisseur_bibliotheque_volumes_faibles_values', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_introduction' %}
								<a href="{{ path('investisseur_bibliotheque_introduction_values', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
						</div>
					</div>
				{% else %}
					<div class="d-flex py-2 px-2 w-100 align-items-center">
						<div class="mr-2">
							<span class="fi fi-{{ data.flag }}" style="font-size: 30px"></span>
						</div>
						<div class="px-3">
							{% if app.request.get('_route') starts with 'investisseur_bibliotheque_bulles_type_1' %}
								<a href="{{ path('investisseur_bibliotheque_bulles_type_1_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if app.request.get('_route') starts with 'investisseur_bibliotheque_bulles_type_2' %}
								<a href="{{ path('investisseur_bibliotheque_bulles_type_2_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_ramasssage_1' %}
								<a href="{{ path('investisseur_bibliotheque_ramasssage_1_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_ramasssage_pic' %}
								<a href="{{ path('investisseur_bibliotheque_ramasssage_pic_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_pic_ramassage' %}
								<a href="{{ path('investisseur_bibliotheque_pic_ramassage_value', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_pics_volumes' %}
								<a href="{{ path('investisseur_bibliotheque_pics_volumes_values', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_volumes_faibles' %}
								<a href="{{ path('investisseur_bibliotheque_volumes_faibles_values', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
							{% if  app.request.get('_route') starts with 'investisseur_bibliotheque_introduction' %}
								<a href="{{ path('investisseur_bibliotheque_introduction_values', {'value': key}) }}" class="text-dark">
									{{ data.title }}
								</a>
							{% endif %}
						</div>
					</div>
				{% endif %}
			{% endfor %}	
	</div>
</div>
