<div class="position-sticky" style="top: 12.5rem;">
	<div class="sidebar p-4 mb-3 bg-light rounded">	
        <div class="box-title py-3">
			<h4 class="fst-italic sidebar-title text-center m-0">Structures de continuation de tendance</h4>
		</div>
		<ul>
            {% for key, data in chandeliersJaponais %}	
            {% if currentValue is defined  %}
                {% set active = (key == currentValue) ? 'fw-bold text-success' : '' %}
                <li class="py-2 {{ active }}">         
                    <a href="{{ path('investisseur_methode_chandeliers_japonais_detail', {'slug': key}) }}" class="text-dark">
                        {{ data.title }}
                    </a>         
                </li>	
            {% else %}
                <li class="py-2">         
                    <a href="{{ path('investisseur_methode_chandeliers_japonais_detail', {'slug': key}) }}" class="text-dark">
                        {{ data.title }}
                    </a>         
                </li>	
            {% endif %}

			{% endfor %}
		</ul>
	</div>
</div>
