<div class="position-sticky" style="top: 13rem;">
    <div class="mb-2 investisseur" style="font-size: 20px;">
		<ul id="h2-list" class="py-2">
		</ul>
	</div>
    <div class="sidebar p-4 mb-3">
        <h4 class="fst-italic text-center mb-3">{{ categoryTitle }}</h4>
        {% for stock in stocksForSidebar | sort((a, b) => a.title <=> b.title) %}
            {# La classe 'active' est ajoutée si le slug du stock courant correspond au 'currentTickerSlug' passé par le contrôleur #}
            {% set activeClass = (currentTickerSlug is defined and stock.slug == currentTickerSlug) ? 'bg-green' : '' %}
            <div class="d-flex py-2 px-2 w-100 align-items-center {{ activeClass }}">
                <div class="mr-2">
                    <span class="fi fi-{{ stock.flag | lower }}" style="font-size: 30px"></span>
                </div>
                <div class="px-3" style="font-size: 17px;">
                    <a href="{{ path('app_investisseur_stock_detail', {'parentSlug': parentMenu.slug, 'childSlug': childMenu.slug, 'tickerSlug': stock.slug}) }}" class="text-dark text-nowrap">
                        {{ stock.title | upper | u.truncate(19, '...')}}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
</div> 